{% load i18n %}

<div class="recipient-list">
    {% for recipient in discussion.recipients.all %}
        <ul>
            {% if recipient != user %}
                <li><a href="{% url discussions_list recipient.username %}">{{ recipient }}</a></li>
            {% endif %}
        </ul>
    {% endfor %}
</div>

<h2><a href="{% url discussions_detail discussion.pk %}">{{ discussion.subject }}</a></h2>

{% if discussion.latest_message %}
    {% with message=discussion.latest_message %}
        <p>{{ message.body }}</p>
        <em>{% blocktrans with author=message.sender %}By {{ author }}{% endblocktrans %}</em>
    {% endwith %}
{% endif %}
